@media (max-width: 768px) {
    /* Adjust styles for smaller screens, e.g., tablets and mobile devices */
    .notification-bar {
        height: auto;
        flex-direction: column;
        padding: 10px;
    }

    .close-btn {
        position: static;
        margin: 10px;
    }
}

@media (max-width: 767px) {
    /* Styles for small devices */

    .responsive-container {
        padding: 15px; /* Add padding to the container for small devices */
    }

    .responsive-row {
        flex-direction: column; /* Change flex-direction to column for small devices */
        text-align: center; /* Center text for small devices */
    }

    .responsive-col {
        margin-bottom: 15px; /* Add margin between the columns on small devices */
    }
}

@media screen and (min-width: 500px) {
    .subscribe-btn {
        right: 60px;
    }
}
/* @media screen and (min-width: 767px) {
    .subscribe-btn {
        right: 165px;
    }
} */

@media (max-width: 600px) {
    .custom-button {
        position: relative;
        width: 100%;
        border-radius: 0 0 5px 5px;
        margin: 10px 0;
        background-color: transparent;
        border: 2px solid #fa5c98;
    }
}

.custom-row {
    display: flex;
    justify-content: space-between;
}

.custom-col {
    text-align: left;
    margin-bottom: 20px;
}

/* Media query for small devices and tablets */
@media (max-width: 768px) {
    .custom-row {
        flex-direction: column;
        align-items: center;
    }

    .custom-col {
        width: 100%;
        text-align: center;
    }
}
@media only screen and (max-width: 600px) {
    /* Styles for screens up to 767px wide (typically mobile devices) */
    .huehue {
        padding: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input-group {
        width: 145px;
    }
    .addired{
        margin-top: 10px;
    }
}
